<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--close app if setting is successful-->
    <add key="closeWindowsAutomatically" value="true"/>
    <!--set default browser when loading form-->
    <add key="setDefaultBrowserAtStartup" value="true"/>
    <!--The integer in desiredBrowerIndex should be the index of desired web browser in Default apps -->
    <!--The string in desiredBrowerIndex should be one of the followings-->
    <!--InternetExplorer, Firefox, Chrome, Opera, Safari, Edge-->
    <add key="desiredBrowerIndex" value="3,Chrome"/>
    <!--if retryCount == 0, Default apps page will show up, and you need to set it on your own-->
    <add key="retryCount" value="10"/>
    <!--run this applicationi at Windows startup -->
    <add key="runAtWindowsStartup" value="true"/>
  </appSettings>
</configuration>